<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'id-ID' }}" class="h-full">

    {% include head.html %}
    
  <body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 font-sans min-h-screen flex flex-col">
  
    {% include header.html %}
    {% if page.url == "/" %}
    {% include hero.html %}
    {% else %}
    {% endif %}

    
    <section class="py-16 px-4 sm:px-6 lg:px-8">
      <div class="max-w-7xl mx-auto">
        {{ content }}
      </div>
    </section>
    
    {% include footer.html %}
    {% include scrollToTop.html %}
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
  </body>
</html>
