---
layout: default
---

<article class="max-w-3xl mx-auto py-16 px-6 sm:px-8 lg:px-0">
  <header class="mb-8">
    <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100 leading-tight">{{ page.title }}</h1>
    <div class="text-gray-500 dark:text-gray-400 mt-2">
      Posted on {{ page.date | date: "%B %d, %Y" }}
      {% if page.author %}
        by {{ page.author }}
      {% endif %}
    </div>
  </header>
  
      {% if post.image %}
        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="w-full h-58 mb-4 object-cover">
      {% endif %}

  <div class="prose dark:prose-invert">
    {{ content }}
  </div>

</article>
